services:
  redis:
    image: redis:latest
    container_name: vizota_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  backend:
    build: .
    container_name: vizota_backend
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./config:/app/config
      - ~/.aws:/app/.aws:ro # Mount AWS credentials
    env_file:
      - .env
    environment:
      - DEBUG=True
      - REDIS_URL=redis://redis:6379/0
      - SEED_DATA=true
    depends_on:
      redis:
        condition: service_started

volumes:
  redis_data: